Repository jmalicki/econ-graph: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, rust-audit, npm-audit

rust-fmt:
  name: Rust Format Check
  entry: bash -c 'cd backend && cargo fmt --all -- --check'
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy Lints
  ...

frontend-prettier:
  name: Frontend Prettier Check
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{ts,tsx,js,jsx,json,css,md}"'
  language: system
  pass_filenames: false

frontend-eslint:
  name: Frontend ESLint Check
  entry: bash -c 'cd frontend && npx eslint "src/**/*.{ts,tsx,js,jsx}" --max-warnings 20'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Compilation Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

rust-audit:
  name: Rust Security Audit
  entry: bash -c 'cd backend && cargo audit'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Security Audit
  entry: bash -c 'cd frontend && npm audit --audit-level moderate'
  language: system
  pass_filenames: false

Remove regenerate_schema binary from Cargo.toml
  backend/Cargo.toml
  backend/src/models/economic_series.rs
Due: rust-fmt, rust-clippy, rust-audit

Add missing diesel backend check attribute to CrawlAttempt model
  backend/src/models/crawl_attempt.rs
Due: rust-fmt, rust-clippy

Trigger CI with PostgreSQL 17.6 environment
  README.md
Due: none

Implement Microsoft Reference Source License (MS-RSL)
  LICENSE
  README.md
  backend/Cargo.toml
  backend/src/main.rs
  frontend/package.json
  frontend/src/index.tsx
Due: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, rust-audit, npm-audit

Fix Diesel trait mismatch for api_documentation_url field
  backend/src/epic_e2e_tests.rs
  backend/src/models/data_source.rs
  backend/src/schema.rs
Due: rust-fmt, rust-clippy

Consolidate all migrations into single comprehensive migration
  backend/migrations/2025-09-12-061542_comprehensive_crawler_enhancements/down.sql
  backend/migrations/2025-09-12-071915_fix_user_table_not_null_constraints/down.sql
  backend/migrations/2025-09-12-071915_fix_user_table_not_null_constraints/up.sql
  backend/migrations/2025-09-12-104236_comprehensive_crawler_and_schema_fixes/down.sql
  backend/migrations/2025-09-12-104236_comprehensive_crawler_and_schema_fixes/up.sql
Due: none

Fix remaining test compilation errors and formatting
  backend/migrations/2025-09-12-104236_comprehensive_crawler_and_schema_fixes/down.sql
  backend/migrations/2025-09-12-104236_comprehensive_crawler_and_schema_fixes/up.sql
  backend/src/e2e_tests.rs
  backend/src/models/crawl_attempt.rs
  backend/src/models/crawl_queue/tests.rs
  backend/src/models/data_source.rs
  backend/src/models/data_source/tests.rs
  backend/src/test_utils.rs
Due: rust-fmt, rust-clippy

Fix final integration_tests.rs compilation error
  backend/src/integration_tests.rs
Due: rust-fmt, rust-clippy

Remove contribution-related documentation for MS-RSL compliance
  INVESTOR_PITCH.md
  MCP_SERVER.md
  ROADMAP.md
  terraform/README.md
Due: none

Add comprehensive license auditing configuration
  backend/Cargo.toml
  backend/LICENSE
  backend/deny.toml
  frontend/.license-checker.json
Due: rust-audit

Fix critical schema-model mismatches causing CI failures
  backend/src/e2e_tests.rs
  backend/src/epic_e2e_tests.rs
  backend/src/integration_tests.rs
  backend/src/metrics.rs
  backend/src/models/crawl_attempt.rs
  backend/src/models/crawl_queue/tests.rs
  backend/src/models/data_source.rs
  backend/src/models/data_source/tests.rs
  backend/src/models/economic_series.rs
  backend/src/schema.rs
  backend/src/services/comprehensive_crawler_scheduler.rs
  backend/src/test_utils.rs
Due: rust-fmt, rust-clippy

Add license compliance checking to CI pipeline
  .github/workflows/ci.yml
Due: none

Comprehensive Crawler Enhancements: Multi-Source Data Discovery & Performance Tracking (#13)
  .github/workflows/ci.yml
  README.md
  VIBE_CODING.md
  backend/Cargo.toml
  backend/migrations/2025-09-12-071915_fix_user_table_not_null_constraints/down.sql
  backend/migrations/2025-09-12-071915_fix_user_table_not_null_constraints/up.sql
  backend/migrations/2025-09-12-104236_comprehensive_crawler_and_schema_fixes/down.sql
  backend/migrations/2025-09-12-104236_comprehensive_crawler_and_schema_fixes/up.sql
  backend/src/e2e_tests.rs
  backend/src/epic_e2e_tests.rs
  backend/src/integration_tests.rs
  backend/src/metrics.rs
  backend/src/models/crawl_attempt.rs
  backend/src/models/crawl_queue/tests.rs
  backend/src/models/data_point.rs
  backend/src/models/data_source.rs
  backend/src/models/data_source/tests.rs
  backend/src/models/economic_series.rs
  backend/src/models/economic_series/tests.rs
  backend/src/models/mod.rs
  backend/src/schema.rs
  backend/src/services/comprehensive_crawler.rs
  backend/src/services/comprehensive_crawler_scheduler.rs
  backend/src/services/crawler_service.rs
  backend/src/services/crawler_service_simple.rs
  backend/src/services/enhanced_crawler_service.rs
  backend/src/services/mod.rs
  backend/src/services/series_discovery/bea.rs
  backend/src/services/series_discovery/bls.rs
  backend/src/services/series_discovery/census.rs
  backend/src/services/series_discovery/fred.rs
  backend/src/services/series_discovery/imf.rs
  backend/src/services/series_discovery/mod.rs
  backend/src/services/series_discovery/world_bank.rs
  backend/src/test_utils.rs
  frontend/src/__tests__/e2e-user-workflows.test.tsx
  frontend/src/contexts/__tests__/ThemeContext.test.tsx
  rust-toolchain.toml
Due: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, rust-audit

Add FHFA House Price Index data source integration
  backend/src/models/data_source.rs
  backend/src/services/series_discovery/fhfa.rs
  backend/src/services/series_discovery/mod.rs
Due: rust-fmt, rust-clippy

Implement admin GraphQL queries and mutations
  backend/src/graphql/mutation.rs
  backend/src/graphql/query.rs
  backend/src/graphql/types.rs
Due: rust-fmt, rust-clippy

Clean up unused imports and fix compilation errors
  backend/src/auth/handlers.rs
  backend/src/auth/integration_tests.rs
  backend/src/auth/mod.rs
  backend/src/auth/routes.rs
  backend/src/auth/services.rs
  backend/src/auth/simple_test.rs
  backend/src/collaboration_integration_tests.rs
  backend/src/database.rs
  backend/src/e2e_tests.rs
  backend/src/epic_e2e_tests.rs
  backend/src/graphql/query.rs
  backend/src/graphql/types.rs
  backend/src/graphql_annotation_tests.rs
  backend/src/integration_tests.rs
  backend/src/main.rs
  backend/src/mcp_server.rs
  backend/src/metrics.rs
  backend/src/models/crawl_queue/tests.rs
  backend/src/models/data_point.rs
  backend/src/models/data_point/tests.rs
  backend/src/models/data_source/tests.rs
  backend/src/models/economic_series/tests.rs
  backend/src/models/mod.rs
  backend/src/models/search/tests.rs
  backend/src/models/user.rs
  backend/src/services/collaboration_service.rs
  backend/src/services/comprehensive_crawler.rs
  backend/src/services/comprehensive_crawler_scheduler.rs
  backend/src/services/crawler.rs
  backend/src/services/crawler_service_simple.rs
  backend/src/services/enhanced_crawler_scheduler.rs
  backend/src/services/enhanced_crawler_service.rs
  backend/src/services/global_analysis_service.rs
  backend/src/services/mod.rs
  backend/src/services/queue_service.rs
  backend/src/services/search_service.rs
  backend/src/services/series_discovery/mod.rs
  backend/src/services/series_service.rs
  backend/src/test_utils.rs
Due: rust-fmt, rust-clippy

Add FHFA House Price Index data source integration (#18)
  backend/src/models/data_source.rs
  backend/src/services/series_discovery/fhfa.rs
  backend/src/services/series_discovery/mod.rs
Due: rust-fmt, rust-clippy

Fix global analysis service tests
  backend/src/services/global_analysis_service.rs
Due: rust-fmt, rust-clippy

Add comprehensive test coverage for queue service
  backend/src/services/queue_service.rs
Due: rust-fmt, rust-clippy

feat: implement comprehensive global data sources with series metadata architecture
  backend/backend/src/services/series_discovery/fhfa.rs
  backend/migrations/2025-09-12-124405_create_series_metadata_table/down.sql
  backend/migrations/2025-09-12-124405_create_series_metadata_table/up.sql
  backend/src/models/data_source.rs
  backend/src/models/mod.rs
  backend/src/models/series_metadata.rs
  backend/src/schema.rs
  backend/src/services/api_discovery_service.rs
  backend/src/services/series_discovery/boc.rs
  backend/src/services/series_discovery/boe.rs
  backend/src/services/series_discovery/boj.rs
  backend/src/services/series_discovery/ecb.rs
  backend/src/services/series_discovery/fred.rs
  backend/src/services/series_discovery/ilo.rs
  backend/src/services/series_discovery/mod.rs
  backend/src/services/series_discovery/oecd.rs
  backend/src/services/series_discovery/rba.rs
  backend/src/services/series_discovery/snb.rs
  backend/src/services/series_discovery/unstats.rs
  backend/src/services/series_discovery/wto.rs
Due: rust-fmt, rust-clippy

Add comprehensive test coverage for queue service (#21)
  backend/src/services/queue_service.rs
Due: rust-fmt, rust-clippy

Fix ISO code length issue in global analysis service tests
  backend/src/services/global_analysis_service.rs
Due: rust-fmt, rust-clippy

fix: resolve compilation errors in test files
  backend/src/models/series_metadata.rs
  backend/src/services/api_discovery_service.rs
  backend/src/services/series_discovery/boc.rs
  backend/src/services/series_discovery/boe.rs
  backend/src/services/series_discovery/boj.rs
  backend/src/services/series_discovery/ecb.rs
  backend/src/services/series_discovery/ilo.rs
  backend/src/services/series_discovery/oecd.rs
  backend/src/services/series_discovery/rba.rs
  backend/src/services/series_discovery/snb.rs
  backend/src/services/series_discovery/unstats.rs
  backend/src/services/series_discovery/wto.rs
Due: rust-fmt, rust-clippy

Fix test pollution issues in global analysis service
  backend/src/services/global_analysis_service.rs
  backend/src/test_utils.rs
Due: rust-fmt, rust-clippy

Fix Global Analysis Platform Tests (#20)
  backend/src/services/global_analysis_service.rs
  backend/src/test_utils.rs
Due: rust-fmt, rust-clippy

Complete crawler reorganization with comprehensive tests
  backend/Cargo.toml
  backend/src/bin/crawler.rs
  backend/src/e2e_tests.rs
  backend/src/epic_e2e_tests.rs
  backend/src/graphql/mutation.rs
  backend/src/graphql/query.rs
  backend/src/integration_tests.rs
  backend/src/main.rs
  backend/src/services/crawler/catalog_downloader.rs
  backend/src/services/crawler/cli.rs
  backend/src/services/crawler/comprehensive_crawler.rs
  backend/src/services/crawler/comprehensive_crawler_scheduler.rs
  backend/src/services/crawler/crawler_service.rs
  backend/src/services/crawler/enhanced_crawler_scheduler.rs
  backend/src/services/crawler/enhanced_crawler_service.rs
  backend/src/services/crawler/legacy_crawler_service.rs
  backend/src/services/crawler/mod.rs
  backend/src/services/crawler/series_downloader.rs
  backend/src/services/crawler/simple_crawler_service.rs
  backend/src/services/crawler/tests.rs
  backend/src/services/mod.rs
Due: rust-fmt, rust-clippy, rust-audit

Fix crawler database test to use testcontainers
  backend/src/services/crawler/tests.rs
Due: rust-fmt, rust-clippy

feat: Add Diesel ORM schema validation integration test
  backend/Cargo.toml
  backend/tests/schema_validation_test.rs
Due: rust-fmt, rust-clippy, rust-audit

Fix SeriesMetadata schema alignment and compilation errors
  backend/migrations/2025-09-12-124405_create_series_metadata_table/up.sql
  backend/src/models/series_metadata.rs
  backend/src/schema.rs
Due: rust-fmt, rust-clippy

Update copyright year in LICENSE file
  LICENSE
Due: none

fix: Configure cargo-deny to allow MS-PL for our own project
  backend/Cargo.toml
  backend/deny.toml
Due: rust-audit

feat: Reorganize CI license checks into dedicated job
  .github/workflows/ci.yml
Due: none

feat: Add Diesel ORM schema validation integration test (#23)
  backend/Cargo.toml
  backend/tests/schema_validation_test.rs
Due: rust-fmt, rust-clippy, rust-audit

fix: Resolve Docker build failure by fixing crawler binary configuration
  backend/Cargo.toml
Due: rust-audit

fix: Add main function to mcp_test.rs to resolve compilation error
  backend/src/bin/mcp_test.rs
Due: rust-fmt, rust-clippy

Fix Docker build to explicitly build main binary target
  backend/Dockerfile
Due: none

fix: Configure cargo-deny for MS-PL license and reorganize CI license checks (#24)
  .github/workflows/ci.yml
  backend/Cargo.toml
  backend/Dockerfile
  backend/deny.toml
  backend/src/bin/mcp_test.rs
Due: rust-fmt, rust-clippy, rust-audit

Optimize backend test execution with parallel test groups
  .github/workflows/ci.yml
Due: none

Parallelize integration tests for faster CI execution
  .github/workflows/ci.yml
Due: none

Path conditions:
  rust-fmt: any of: ^backend/.*\.rs$
  rust-clippy: any of: ^backend/.*\.rs$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  rust-audit: any of: ^backend/Cargo\.(toml|lock)$
  npm-audit: any of: ^frontend/package.*\.json$
