Repository jmalicki/econ-graph: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, rust-audit, npm-audit

.pre-commit-config.yaml:

# EconGraph Pre-commit Configuration
# Ensures code quality and formatting consistency across all commits
# Run: pre-commit install (to set up hooks)
# Run: pre-commit run --all-files (to check all files)

repos:
  # Rust formatting and linting
  - repo: local
    hooks:
      - id: rust-fmt
        name: Rust Format Check
        entry: bash -c 'cd backend && cargo fmt --all -- --check'
        language: system
        files: '^backend/.*\.rs$'
        pass_filenames: false

      - id: rust-clippy
        name: Rust Clippy Lints
        entry: bash -c 'cd backend && cargo clippy --all-targets --all-features -- -D warnings -A unused_imports -A dead_code -A clippy::empty_line_after_doc_comments -A clippy::explicit_auto_deref -A clippy::unused_enumerate_index -A clippy::manual_range_contains -A clippy::unnecessary_map_or -A clippy::inherent_to_string -A clippy::too_many_arguments -A clippy::uninlined_format_args -A clippy::needless_borrow -A unused_variables -A clippy::if_same_then_else -A clippy::assertions_on_constants -A clippy::useless_vec -A clippy::overly_complex_bool_expr -A clippy::manual_clamp -A clippy::upper_case_acronyms -A unused_must_use -A unused_mut -A clippy::derivable_impls'
        language: system
        files: '^backend/.*\.rs$'
        pass_filenames: false

  # Frontend formatting and linting
  - repo: local
    hooks:
      - id: frontend-prettier
        name: Frontend Prettier Check
        entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{ts,tsx,js,jsx,json,css,md}"'
        language: system
        files: '^frontend/src/.*\.(ts|tsx|js|jsx|json|css|md)$'
        pass_filenames: false

      - id: frontend-eslint
        name: Frontend ESLint Check
        entry: bash -c 'cd frontend && npx eslint "src/**/*.{ts,tsx,js,jsx}" --max-warnings 20'
        language: system
        files: '^frontend/src/.*\.(ts|tsx|js|jsx)$'
        pass_filenames: false

      - id: typescript-check
        name: TypeScript Compilation Check
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: '^frontend/.*\.(ts|tsx)$'
        pass_filenames: false

  # General file quality checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(.*\.md|.*\.txt)$'
      - id: end-of-file-fixer
        exclude: '^(.*\.md|.*\.txt|.*\.mp4|.*\.aiff|.*\.wav)$'
      - id: check-yaml
      - id: check-json
        exclude: '^frontend/package.*\.json$'  # package.json can have comments
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=5000']  # 5MB limit
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Markdown and documentation
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: ['--disable', 'MD013', 'MD041', 'MD022', 'MD032', 'MD031', 'MD034', 'MD040', 'MD026', 'MD009', 'MD029', 'MD033', 'MD036', 'MD047', 'MD024', 'MD012', 'MD051', '--']  # Disable common formatting rules
        exclude: '^node_modules/'

  # Security checks
  - repo: local
    hooks:
      - id: rust-audit
        name: Rust Security Audit
        entry: bash -c 'cd backend && cargo audit'
        language: system
        files: '^backend/Cargo\.(toml|lock)$'
        pass_filenames: false

      - id: npm-audit
        name: NPM Security Audit
        entry: bash -c 'cd frontend && npm audit --audit-level moderate'
        language: system
        files: '^frontend/package.*\.json$'
        pass_filenames: false

# Global configuration
default_install_hook_types: [pre-commit, pre-push]
fail_fast: false  # Continue running hooks even if one fails

refactor: Consolidate database migrations into 3 logical groups
  backend/migrations/2024-01-01-000001_create_data_sources/down.sql
  backend/migrations/2024-01-01-000001_create_data_sources/up.sql
  backend/migrations/2024-01-01-000001_initial_schema/down.sql
  backend/migrations/2024-01-01-000001_initial_schema/up.sql
  backend/migrations/2024-01-01-000002_create_economic_series/down.sql
  backend/migrations/2024-01-01-000002_create_economic_series/up.sql
  backend/migrations/2024-01-01-000002_global_analysis/down.sql
  backend/migrations/2024-01-01-000002_global_analysis/up.sql
  backend/migrations/2024-01-01-000003_auth_and_collaboration/down.sql
  backend/migrations/2024-01-01-000003_auth_and_collaboration/up.sql
  backend/migrations/2024-01-01-000003_create_data_points/down.sql
  backend/migrations/2024-01-01-000003_create_data_points/up.sql
  backend/migrations/2024-01-01-000004_create_crawl_queue/down.sql
  backend/migrations/2024-01-01-000004_create_crawl_queue/up.sql
  backend/migrations/2025-09-05-025423_add_fulltext_search/down.sql
  backend/migrations/2025-09-05-025423_add_fulltext_search/up.sql
  backend/migrations/2025-09-07-060901_create_users_and_auth/down.sql
  backend/migrations/2025-09-07-083202_change_ip_address_to_text/down.sql
  backend/migrations/2025-09-07-083202_change_ip_address_to_text/up.sql
  backend/migrations/2025-09-07-171152_remove_search_vector/down.sql
  backend/migrations/2025-09-07-171152_remove_search_vector/up.sql
Due: none

fix: Resolve auth integration test database connection issues
  backend/src/auth/integration_tests.rs
Due: rust-fmt, rust-clippy

chore: Update Kubernetes deployment scripts to use v3.6.0
  DEPLOYMENT_RESTART.md
  K8S_RESTART_COMMANDS.md
  k8s/manifests/backend-deployment.yaml
  k8s/manifests/frontend-deployment.yaml
  scripts/deploy/restart-k8s-rollout.sh
Due: none

feat: Disable release and deploy GitHub Actions workflow
  .github/workflows/release.yml.disabled
  backend/Cargo.toml
  backend/src/config.rs
  backend/src/database.rs
  backend/src/main.rs
  frontend/src/contexts/AuthContext.tsx
  load-env.sh
  ports.env
Due: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, rust-audit

fix: Fix integration tests by using TestContainer consistently
  backend/src/collaboration_integration_tests.rs
Due: rust-fmt, rust-clippy

chore: Update Kubernetes deployment scripts to v3.6.1
  DEPLOYMENT_RESTART.md
  k8s/manifests/backend-deployment.yaml
  k8s/manifests/frontend-deployment.yaml
  scripts/deploy/restart-k8s-rollout.sh
Due: none

feat: Enhance error logging and update K8s port configuration
  DEPLOYMENT_RESTART.md
  backend/Cargo.toml
  backend/src/auth/services.rs
  backend/src/database.rs
  backend/src/error.rs
  backend/src/error_logging_test.rs
  backend/src/lib.rs
  backend/src/main.rs
  k8s/manifests/backend-deployment.yaml
  k8s/manifests/backend-service.yaml
  k8s/manifests/configmap.yaml
  k8s/manifests/frontend-deployment.yaml
  scripts/deploy/restart-k8s-rollout.sh
Due: rust-fmt, rust-clippy, rust-audit

fix: Fix Kubernetes cluster setup to use in-cluster PostgreSQL
  scripts/deploy/setup-local-k8s.sh
  terraform/main.tf
Due: none

fix: improve test reliability and deployment robustness
  DEPLOYMENT_RESTART.md
  backend/src/auth/handlers.rs
  backend/src/auth/services.rs
  backend/src/database.rs
  backend/src/main.rs
  backend/src/test_utils.rs
  e2e-test-report.md
  k8s/manifests/backend-deployment.yaml
  k8s/manifests/frontend-deployment.yaml
  k8s/manifests/ingress.yaml
  k8s/manifests/postgres-deployment.yaml
  k8s/manifests/postgres-init.yaml
  k8s/manifests/postgres.yaml
  scripts/deploy/deploy.sh
  scripts/deploy/restart-k8s-rollout.sh
  scripts/deploy/setup-local-k8s.sh
  scripts/deploy/teardown.sh
  terraform/k8s/terraform.tfstate
  terraform/k8s/terraform.tfstate.backup
  terraform/postgres-only.tf
  test-e2e.sh
Due: rust-fmt, rust-clippy

Fix frontend API URL configuration and implement real Facebook OAuth
  backend/src/auth/comprehensive_integration_tests.rs
  backend/src/auth/handlers.rs
  backend/src/auth/integration_tests.rs
  backend/src/auth/models.rs
  backend/src/auth/services.rs
  k8s/manifests/configmap.yaml
Due: rust-fmt, rust-clippy

Fix Google OAuth 500 error and frontend API URL configuration
  frontend/src/contexts/AuthContext.tsx
Due: frontend-prettier, frontend-eslint, typescript-check

Update Kubernetes deployment scripts to v3.7.2
  k8s/manifests/backend-deployment.yaml
  k8s/manifests/frontend-deployment.yaml
  scripts/deploy/build-images.sh
  scripts/deploy/restart-k8s-rollout.sh
Due: none

Add GitHub Actions workflows for Playwright tests on new tags
  .github/workflows/README.md
  .github/workflows/playwright-tests-comprehensive.yml
  .github/workflows/playwright-tests-deployed.yml
  .github/workflows/playwright-tests.yml
Due: none

Fix Playwright test failures and UI bugs
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright-report/data/1b208668f58b14069da932131366fa972b996182.webm
  frontend/playwright-report/data/1e6f862cbfeeae5d8e2f9e06779438a026b6acf4.md
  frontend/playwright-report/data/225aa6e98f9d4aabc34ddd9f4e859a524db0a7f6.webm
  frontend/playwright-report/data/452333c02330f57d6fca78905db4628a5759899b.png
  frontend/playwright-report/data/7df02d8bde399c23052203f89ad97952da90641d.webm
  frontend/playwright-report/data/a0889a030210dddcbc82d0c0c0d8195f835205dc.png
  frontend/playwright-report/data/a5947b96ce21c1575a17503755334b6f9d6195ea.md
  frontend/playwright-report/data/f955bb446826822c8b1fcbcaf730e4f97eb6c132.webm
  frontend/playwright-report/index.html
  frontend/playwright.config.ts
  frontend/src/components/charts/ProfessionalChart.tsx
  frontend/test-results/.last-run.json
  frontend/tests/e2e/about.spec.ts
  frontend/tests/e2e/authentication.spec.ts
  frontend/tests/e2e/complete-workflow.spec.ts
  frontend/tests/e2e/dashboard.spec.ts
  frontend/tests/e2e/data-sources.spec.ts
  frontend/tests/e2e/global-analysis.spec.ts
  frontend/tests/e2e/navigation.spec.ts
  frontend/tests/e2e/professional-analysis.spec.ts
  frontend/tests/e2e/series-explorer.spec.ts
Due: frontend-prettier, frontend-eslint, typescript-check, npm-audit

Add version information and navigation links to about page
  frontend/src/pages/About.tsx
  frontend/test-results/.last-run.json
  frontend/test-results/about-About-Page-should-display-version-information-chromium/error-context.md
  frontend/test-results/about-About-Page-should-display-version-information-chromium/test-failed-1.png
  frontend/test-results/about-About-Page-should-display-version-information-chromium/video.webm
  frontend/tests/e2e/about.spec.ts
Due: frontend-prettier, frontend-eslint, typescript-check

Add hero page navigation test and identify sidebar visibility issue
  frontend/src/App.tsx
  frontend/tests/e2e/navigation.spec.ts
Due: frontend-prettier, frontend-eslint, typescript-check

WIP: Fix sidebar navigation and add comprehensive Playwright tests
  frontend/sidebar-debug.png
  frontend/src/App.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/tests/e2e/test-sidebar-fix.spec.ts
Due: frontend-prettier, frontend-eslint, typescript-check

Fix sidebar navigation visibility issue
  frontend/src/App.tsx
  frontend/src/__tests__/e2e-user-workflows.test.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/tests/e2e/navigation.spec.ts
  frontend/tests/e2e/test-sidebar-fix.spec.ts
  frontend/tests/e2e/visual-check.spec.ts
  frontend/visual-check.png
Due: frontend-prettier, frontend-eslint, typescript-check

Fix ESLint warnings: remove unused imports from Sidebar component
  frontend/src/components/layout/Sidebar.tsx
Due: frontend-prettier, frontend-eslint, typescript-check

Fix frontend error handling for authentication responses
  frontend/src/contexts/AuthContext.tsx
Due: frontend-prettier, frontend-eslint, typescript-check

Increase database connection pool size and improve error logging
  backend/src/database.rs
Due: rust-fmt, rust-clippy

Add comprehensive monitoring stack with Grafana, Loki, and Promtail
  k8s/monitoring/README.md
  k8s/monitoring/grafana-datasources.yaml
  k8s/monitoring/grafana-deployment.yaml
  k8s/monitoring/grafana-service.yaml
  k8s/monitoring/loki-config.yaml
  k8s/monitoring/loki-deployment.yaml
  k8s/monitoring/loki-service.yaml
  k8s/monitoring/promtail-config.yaml
  k8s/monitoring/promtail-daemonset.yaml
  scripts/deploy/restart-k8s-rollout.sh
Due: none

Fix Grafana dashboards and add automatic port forwarding
  k8s/monitoring/grafana-dashboards.yaml
  scripts/deploy/restart-k8s-rollout.sh
  scripts/deploy/setup-port-forwarding.sh
Due: none

Fix monitoring stack RBAC permissions for data collection
  k8s/monitoring/prometheus-clusterrole.yaml
  k8s/monitoring/prometheus-clusterrolebinding.yaml
  k8s/monitoring/prometheus-deployment.yaml
  k8s/monitoring/prometheus-serviceaccount.yaml
  k8s/monitoring/promtail-clusterrole.yaml
  k8s/monitoring/promtail-clusterrolebinding.yaml
  k8s/monitoring/promtail-daemonset.yaml
  k8s/monitoring/promtail-serviceaccount.yaml
Due: none

Complete monitoring stack implementation with working log collection
  k8s/monitoring/grafana-dashboards.yaml
  k8s/monitoring/promtail-config-static.yaml
Due: none

Fix deployment script to handle complete stack deployment automatically
  scripts/deploy/recreate-kind-cluster.sh
  scripts/deploy/restart-k8s-rollout.sh
  terraform/k8s/kind-config.yaml
Due: none

Complete monitoring stack setup with working log collection
  k8s/monitoring/grafana-dashboard-provider.yaml
  k8s/monitoring/grafana-datasources.yaml
  k8s/monitoring/grafana-deployment.yaml
  k8s/monitoring/grafana-logging-dashboard.yaml
  k8s/monitoring/prometheus-config.yaml
  k8s/monitoring/prometheus-service.yaml
  k8s/monitoring/promtail-config-basic.yaml
  k8s/monitoring/promtail-config-current.yaml
  k8s/monitoring/promtail-config-direct.yaml
  k8s/monitoring/promtail-config-new.yaml
  k8s/monitoring/promtail-config-simple.yaml
  k8s/monitoring/promtail-config-working.yaml
  terraform/k8s/kind-config.yaml
Due: none

feat: Add comprehensive Grafana dashboard validation suite with ingenious truncated JSON detection
  .github/workflows/ci.yml
  .github/workflows/playwright-tests.yml
  grafana-dashboards/econgraph-overview.json
  k8s/monitoring/grafana-dashboards.yaml
  k8s/monitoring/grafana-datasources.yaml
  k8s/monitoring/grafana-logging-dashboard.yaml
  k8s/monitoring/loki-config.yaml
  k8s/monitoring/promtail-config-working.yaml
  k8s/monitoring/promtail-daemonset.yaml
  scripts/test-grafana-dashboards.sh
  scripts/test-monitoring.sh
Due: none

feat: Complete monitoring stack with persistent Grafana StatefulSet
  k8s/monitoring/grafana-dashboards.yaml
  k8s/monitoring/grafana-datasources-minimal.yaml
  k8s/monitoring/grafana-statefulset.yaml
  scripts/test-monitoring.sh
Due: none

feat: Add kube-state-metrics and cAdvisor for comprehensive monitoring
  k8s/monitoring/cadvisor-daemonset.yaml
  k8s/monitoring/cadvisor-service.yaml
  k8s/monitoring/kube-state-metrics-deployment.yaml
  k8s/monitoring/kube-state-metrics-rbac.yaml
  k8s/monitoring/kube-state-metrics-service.yaml
  k8s/monitoring/prometheus-config.yaml
Due: none

fix: Update Platform Overview dashboard with working metrics queries
  grafana-dashboards/econgraph-overview.json
Due: none

fix: Separate dashboard metrics by actual pod types
  grafana-dashboards/econgraph-overview.json
Due: none

fix: Add missing datasource references to dashboard targets
  grafana-dashboards/econgraph-overview.json
Due: none

feat: Update deployment scripts to include monitoring stack
  scripts/deploy/deploy.sh
  scripts/deploy/restart-k8s-rollout.sh
Due: none

fix: Add pod status display to deployment scripts
  scripts/deploy/deploy.sh
  scripts/deploy/restart-k8s-rollout.sh
Due: none

feat: Add real-time pod status monitoring to deployment scripts
  scripts/deploy/deploy.sh
  scripts/deploy/restart-k8s-rollout.sh
Due: none

fix: Clean up cAdvisor issues and fix service port testing
  k8s/monitoring/cadvisor-daemonset.yaml
  k8s/monitoring/cadvisor-service.yaml
  scripts/deploy/restart-k8s-rollout.sh
Due: none

feat: Integrate ports.env configuration into deployment scripts
  ports.env
  scripts/deploy/deploy.sh
  scripts/deploy/restart-k8s-rollout.sh
Due: none
