Repository jmalicki/econ-graph: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, rust-audit, npm-audit

.pre-commit-config.yaml:

# EconGraph Pre-commit Configuration
# Ensures code quality and formatting consistency across all commits
# Run: pre-commit install (to set up hooks)
# Run: pre-commit run --all-files (to check all files)

repos:
  # Rust formatting and linting
  - repo: local
    hooks:
      - id: rust-fmt
        name: Rust Format Check
        entry: bash -c 'cd backend && cargo fmt --all -- --check'
        language: system
        files: '^backend/.*\.rs$'
        pass_filenames: false

      - id: rust-clippy
        name: Rust Clippy Lints
        entry: bash -c 'cd backend && cargo clippy --all-targets --all-features -- -D warnings -A unused_imports -A dead_code -A clippy::empty_line_after_doc_comments -A clippy::explicit_auto_deref -A clippy::unused_enumerate_index -A clippy::manual_range_contains -A clippy::unnecessary_map_or -A clippy::inherent_to_string -A clippy::too_many_arguments -A clippy::uninlined_format_args -A clippy::needless_borrow -A unused_variables -A clippy::if_same_then_else -A clippy::assertions_on_constants -A clippy::useless_vec -A clippy::overly_complex_bool_expr -A clippy::manual_clamp -A clippy::upper_case_acronyms -A unused_must_use -A unused_mut -A clippy::derivable_impls'
        language: system
        files: '^backend/.*\.rs$'
        pass_filenames: false

  # Frontend formatting and linting
  - repo: local
    hooks:
      - id: frontend-prettier
        name: Frontend Prettier Check
        entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{ts,tsx,js,jsx,json,css,md}"'
        language: system
        files: '^frontend/src/.*\.(ts|tsx|js|jsx|json|css|md)$'
        pass_filenames: false

      - id: frontend-eslint
        name: Frontend ESLint Check
        entry: bash -c 'cd frontend && npx eslint "src/**/*.{ts,tsx,js,jsx}" --max-warnings 20'
        language: system
        files: '^frontend/src/.*\.(ts|tsx|js|jsx)$'
        pass_filenames: false

      - id: typescript-check
        name: TypeScript Compilation Check
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: '^frontend/.*\.(ts|tsx)$'
        pass_filenames: false

  # General file quality checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(.*\.md|.*\.txt)$'
      - id: end-of-file-fixer
        exclude: '^(.*\.md|.*\.txt|.*\.mp4|.*\.aiff|.*\.wav)$'
      - id: check-yaml
      - id: check-json
        exclude: '^frontend/package.*\.json$'  # package.json can have comments
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=5000']  # 5MB limit
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Markdown and documentation
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: ['--disable', 'MD013', 'MD041', 'MD022', 'MD032', 'MD031', 'MD034', 'MD040', 'MD026', 'MD009', 'MD029', 'MD033', 'MD036', 'MD047', 'MD024', 'MD012', 'MD051', '--']  # Disable common formatting rules
        exclude: '^node_modules/'

  # Security checks
  - repo: local
    hooks:
      - id: rust-audit
        name: Rust Security Audit
        entry: bash -c 'cd backend && cargo audit'
        language: system
        files: '^backend/Cargo\.(toml|lock)$'
        pass_filenames: false

      - id: npm-audit
        name: NPM Security Audit
        entry: bash -c 'cd frontend && npm audit --audit-level moderate'
        language: system
        files: '^frontend/package.*\.json$'
        pass_filenames: false

# Global configuration
default_install_hook_types: [pre-commit, pre-push]
fail_fast: false  # Continue running hooks even if one fails

fix: Fix bash syntax error in dashboard validation script
  scripts/test-grafana-dashboards.sh
Due: none

fix: Improve dashboard validation to support Kubernetes-native metrics
  scripts/test-grafana-dashboards.sh
Due: none

feat: enhance monitoring stack with comprehensive testing and dashboard error detection
  k8s/monitoring/grafana-dashboards.yaml
  k8s/monitoring/grafana-datasources.yaml
  k8s/monitoring/promtail-config.yaml
  k8s/monitoring/promtail-daemonset.yaml
  scripts/deploy/deploy.sh
  scripts/deploy/restart-k8s-rollout.sh
  scripts/test-grafana-dashboards.sh
  scripts/test-monitoring.sh
Due: none

Fix monitoring stack deployment and service accessibility
  k8s/monitoring/grafana-deployment.yaml
  k8s/monitoring/promtail-config.yaml
  scripts/deploy/deploy.sh
  scripts/deploy/restart-k8s-rollout.sh
  scripts/test-grafana-dashboards.sh
  terraform/k8s/kind-config.yaml
Due: none

Fix axios security vulnerability
  frontend/package-lock.json
Due: npm-audit

Update package.json axios version constraint
  frontend/package.json
Due: npm-audit

feat: enhance monitoring stack with comprehensive testing and dashboard error detection (#5)
  .github/workflows/ci.yml
  .github/workflows/playwright-tests.yml
  frontend/package-lock.json
  frontend/package.json
  grafana-dashboards/econgraph-overview.json
  k8s/monitoring/grafana-dashboard-provider.yaml
  k8s/monitoring/grafana-dashboards.yaml
  k8s/monitoring/grafana-datasources-minimal.yaml
  k8s/monitoring/grafana-logging-dashboard.yaml
  k8s/monitoring/grafana-statefulset.yaml
  k8s/monitoring/kube-state-metrics-deployment.yaml
  k8s/monitoring/kube-state-metrics-rbac.yaml
  k8s/monitoring/kube-state-metrics-service.yaml
  k8s/monitoring/loki-config.yaml
  k8s/monitoring/prometheus-config.yaml
  k8s/monitoring/prometheus-service.yaml
  k8s/monitoring/promtail-config-basic.yaml
  k8s/monitoring/promtail-config-current.yaml
  k8s/monitoring/promtail-config-direct.yaml
  k8s/monitoring/promtail-config-new.yaml
  k8s/monitoring/promtail-config-simple.yaml
  k8s/monitoring/promtail-config-working.yaml
  k8s/monitoring/promtail-config.yaml
  ports.env
  scripts/deploy/deploy.sh
  scripts/deploy/recreate-kind-cluster.sh
  scripts/deploy/restart-k8s-rollout.sh
  scripts/test-grafana-dashboards.sh
  scripts/test-monitoring.sh
Due: npm-audit

Fix Google OAuth authentication bugs
  backend/src/auth/handlers.rs
  backend/src/auth/services.rs
Due: rust-fmt, rust-clippy

Update VIBE_CODING.md with Google OAuth authentication bug fixes
  VIBE_CODING.md
Due: none

Add comprehensive codebase analysis and cost estimation scripts
  .github/workflows/ci.yml
  .github/workflows/playwright-tests.yml
  frontend/package-lock.json
  frontend/package.json
  grafana-dashboards/econgraph-overview.json
  k8s/monitoring/grafana-dashboard-provider.yaml
  k8s/monitoring/grafana-dashboards.yaml
  k8s/monitoring/grafana-datasources-minimal.yaml
  k8s/monitoring/grafana-logging-dashboard.yaml
  k8s/monitoring/grafana-statefulset.yaml
  k8s/monitoring/kube-state-metrics-deployment.yaml
  k8s/monitoring/kube-state-metrics-rbac.yaml
  k8s/monitoring/kube-state-metrics-service.yaml
  k8s/monitoring/loki-config.yaml
  k8s/monitoring/prometheus-config.yaml
  k8s/monitoring/prometheus-service.yaml
  k8s/monitoring/promtail-config-basic.yaml
  k8s/monitoring/promtail-config-current.yaml
  k8s/monitoring/promtail-config-direct.yaml
  k8s/monitoring/promtail-config-new.yaml
  k8s/monitoring/promtail-config-simple.yaml
  k8s/monitoring/promtail-config-working.yaml
  k8s/monitoring/promtail-config.yaml
  ports.env
  scripts/analyze-codebase-simple.sh
  scripts/analyze-codebase.sh
  scripts/codebase-stats.sh
  scripts/deploy/deploy.sh
  scripts/deploy/recreate-kind-cluster.sh
  scripts/deploy/restart-k8s-rollout.sh
  scripts/test-grafana-dashboards.sh
  scripts/test-monitoring.sh
Due: npm-audit

Add generated codebase analysis report to .gitignore
  .gitignore
Due: none

Fix Google OAuth Authentication Bugs - Resolve 400 Bad Request Errors (#6)
  VIBE_CODING.md
  backend/src/auth/handlers.rs
  backend/src/auth/services.rs
Due: rust-fmt, rust-clippy

fix: remove problematic webpack overrides to restore build functionality
  frontend/package-lock.json
  frontend/package.json
Due: npm-audit

Add user preferences functionality with Dark theme support
  frontend/src/App.tsx
  frontend/src/components/auth/UserProfile.tsx
  frontend/src/components/auth/__tests__/UserProfile.test.tsx
  frontend/src/contexts/ThemeContext.tsx
  frontend/src/contexts/__tests__/ThemeContext.test.tsx
  frontend/src/index.tsx
  frontend/tests/e2e/user-preferences.spec.ts
Due: frontend-prettier, frontend-eslint, typescript-check

Fix Material-UI Select accessibility and testability
  frontend/src/components/auth/UserProfile.tsx
  frontend/src/components/auth/__tests__/UserProfile.test.tsx
Due: frontend-prettier, frontend-eslint, typescript-check

feat: implement separate dev server for Playwright testing
  frontend/dev-server/index.html
  frontend/dev-server/package.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/tests/e2e/debug-calc-width.spec.ts
  frontend/tests/e2e/debug-css-rules.spec.ts
  frontend/tests/e2e/debug-css-specificity.spec.ts
  frontend/tests/e2e/debug-dom.spec.ts
  frontend/tests/e2e/debug-flex-calculation.spec.ts
  frontend/tests/e2e/debug-flex-container.spec.ts
  frontend/tests/e2e/debug-header-positioning.spec.ts
  frontend/tests/e2e/debug-inline-styles.spec.ts
  frontend/tests/e2e/debug-main-content.spec.ts
  frontend/tests/e2e/debug-main-width.spec.ts
  frontend/tests/e2e/debug-parent-constraints.spec.ts
  frontend/tests/e2e/dev-server.spec.ts
Due: typescript-check, npm-audit

Add comprehensive codebase analysis system with configurable assumptions
  .gitignore
  scripts/analyze-codebase-simple.sh
  scripts/analyze-codebase.sh
  scripts/codebase-stats.sh
Due: none

security: ensure dev server has zero vulnerabilities
  frontend/dev-server/package-lock.json
  frontend/dev-server/package.json
Due: none

security: fix webpack-dev-server vulnerabilities
  frontend/package-lock.json
  frontend/package.json
Due: npm-audit

Fix security audit issues
  backend/Cargo.toml
  frontend/package-lock.json
  frontend/package.json
Due: rust-audit, npm-audit

Fix user preferences test issues
  frontend/src/components/auth/__tests__/UserProfile.test.tsx
  frontend/src/contexts/__tests__/ThemeContext.test.tsx
Due: frontend-prettier, frontend-eslint, typescript-check

Update VIBE_CODING.md with security audit completion
  VIBE_CODING.md
Due: none

Complete user preferences feature implementation
  VIBE_CODING.md
Due: none

feat: implement separate dev server for Playwright testing (#8)
  frontend/dev-server/index.html
  frontend/dev-server/package-lock.json
  frontend/dev-server/package.json
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/tests/e2e/debug-calc-width.spec.ts
  frontend/tests/e2e/debug-css-rules.spec.ts
  frontend/tests/e2e/debug-css-specificity.spec.ts
  frontend/tests/e2e/debug-dom.spec.ts
  frontend/tests/e2e/debug-flex-calculation.spec.ts
  frontend/tests/e2e/debug-flex-container.spec.ts
  frontend/tests/e2e/debug-header-positioning.spec.ts
  frontend/tests/e2e/debug-inline-styles.spec.ts
  frontend/tests/e2e/debug-main-content.spec.ts
  frontend/tests/e2e/debug-main-width.spec.ts
  frontend/tests/e2e/debug-parent-constraints.spec.ts
  frontend/tests/e2e/dev-server.spec.ts
Due: typescript-check, npm-audit

Fix ThemeContext test timing issues
  frontend/src/contexts/__tests__/ThemeContext.test.tsx
Due: frontend-prettier, frontend-eslint, typescript-check

Add comprehensive Facebook auth privacy compliance
  PRIVACY_POLICY.md
  backend/Cargo.toml
  backend/src/auth/handlers.rs
  backend/src/auth/routes.rs
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/metrics.rs
  frontend/src/App.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/pages/PrivacyPolicy.tsx
  frontend/src/pages/UserDataDeletion.tsx
Due: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, rust-audit

WIP: Fix sidebar navigation and add comprehensive Playwright tests
  frontend/sidebar-debug.png
  frontend/src/App.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/tests/e2e/test-sidebar-fix.spec.ts
Due: frontend-prettier, frontend-eslint, typescript-check

Fix ESLint warnings: remove unused imports from Sidebar component
  frontend/src/components/layout/Sidebar.tsx
Due: frontend-prettier, frontend-eslint, typescript-check

Fix sidebar navigation visibility issue
  frontend/src/App.tsx
  frontend/src/__tests__/e2e-user-workflows.test.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/tests/e2e/navigation.spec.ts
  frontend/tests/e2e/test-sidebar-fix.spec.ts
  frontend/tests/e2e/visual-check.spec.ts
  frontend/visual-check.png
Due: frontend-prettier, frontend-eslint, typescript-check

Fix sidebar spacing and layout issues
  frontend/sidebar-debug.png
Due: none

Add comprehensive accessibility attributes to sidebar
  frontend/sidebar-debug.png
  frontend/src/components/layout/Sidebar.tsx
  frontend/tests/e2e/test-sidebar-fix.spec.ts
Due: frontend-prettier, frontend-eslint, typescript-check

Add comprehensive Prometheus metrics endpoint (#9)
  VIBE_CODING.md
  backend/Cargo.toml
  frontend/package-lock.json
  frontend/package.json
Due: rust-audit, npm-audit

Fix test isolation issues and prevent parallel test pollution
  codebase-analysis-config-mine.env
  codebase-analysis-config-top5.env
  frontend/package.json
  frontend/src/components/auth/__tests__/UserProfile.test.tsx
  frontend/src/contexts/__tests__/ThemeContext.test.tsx
  frontend/src/setupTests.ts
  frontend/src/test-utils/testIsolation.ts
Due: frontend-prettier, frontend-eslint, typescript-check, npm-audit

Fix Prometheus metrics test isolation to prevent duplicate registration errors
  backend/src/metrics.rs
Due: rust-fmt, rust-clippy

Fix sidebar spacing and layout issues (#11)
  frontend/sidebar-debug.png
  frontend/src/App.tsx
  frontend/src/__tests__/e2e-user-workflows.test.tsx
  frontend/src/components/layout/Sidebar.tsx
  frontend/tests/e2e/navigation.spec.ts
  frontend/tests/e2e/test-sidebar-fix.spec.ts
  frontend/tests/e2e/visual-check.spec.ts
  frontend/visual-check.png
Due: frontend-prettier, frontend-eslint, typescript-check

Implement comprehensive admin UI with Grafana integration
  admin-frontend/README.md
  admin-frontend/src/components/layout/AdminLayout.tsx
  admin-frontend/src/components/layout/__tests__/AdminLayout.test.tsx
  admin-frontend/src/pages/MonitoringPage.tsx
  admin-frontend/src/pages/SystemHealthPage.tsx
  admin-frontend/src/pages/UserManagementPage.tsx
  admin-frontend/src/pages/__tests__/MonitoringPage.test.tsx
  admin-frontend/src/pages/__tests__/SystemHealthPage.test.tsx
  admin-frontend/src/pages/__tests__/UserManagementPage.test.tsx
Due: none

Add GraphQL admin endpoints to support admin UI
  backend/src/graphql/mutation.rs
  backend/src/graphql/query.rs
  backend/src/graphql/types.rs
Due: rust-fmt, rust-clippy

Implement admin role checks for GraphQL endpoints
  backend/src/graphql/context.rs
  backend/src/graphql/mod.rs
  backend/src/graphql/mutation.rs
  backend/src/graphql/query.rs
  backend/src/graphql/schema.rs
  backend/src/main.rs
Due: rust-fmt, rust-clippy

Fix GraphQL context lifetime issues and remove missing metrics module
  backend/Cargo.toml
  backend/src/graphql/context.rs
  backend/src/main.rs
Due: rust-fmt, rust-clippy, rust-audit

Fix ESLint errors in admin-frontend
  admin-frontend/package.json
  admin-frontend/src/contexts/AuthContext.tsx
  admin-frontend/src/contexts/SecurityContext.tsx
  admin-frontend/src/pages/MonitoringPage.tsx
  admin-frontend/src/pages/UserManagementPage.tsx
Due: none
