Repository jmalicki/econ-graph: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, rust-audit, npm-audit

rust-fmt:
  name: Rust Format Check
  entry: bash -c 'cd backend && cargo fmt --all -- --check'
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy Lints
  ...

frontend-prettier:
  name: Frontend Prettier Check
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{ts,tsx,js,jsx,json,css,md}"'
  language: system
  pass_filenames: false

frontend-eslint:
  name: Frontend ESLint Check
  entry: bash -c 'cd frontend && npx eslint "src/**/*.{ts,tsx,js,jsx}" --max-warnings 20'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Compilation Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

rust-audit:
  name: Rust Security Audit
  entry: bash -c 'cd backend && cargo audit'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Security Audit
  entry: bash -c 'cd frontend && npm audit --audit-level moderate'
  language: system
  pass_filenames: false

Fix more Rust clippy warnings
  backend/src/epic_e2e_tests.rs
  backend/src/services/crawler/enhanced_crawler_scheduler.rs
  backend/src/services/crawler/enhanced_crawler_service.rs
  backend/src/services/global_analysis_service.rs
Due: rust-fmt, rust-clippy

Make clippy warnings non-fatal in CI
  .github/workflows/ci-core.yml
Due: none

Fix frontend formatting check script name
  .github/workflows/ci-core.yml
Due: none

📝 Add comprehensive CI optimization project experience report
  progress-reports/2025-09-13/ci-optimization.md
Due: none

feat: Implement BDS (Business Dynamics Statistics) integration for Census Bureau API
  backend/src/models/data_source.rs
  backend/src/services/series_discovery/census.rs
  backend/src/services/series_discovery/census/tests.rs
Due: rust-fmt, rust-clippy

fix: Install dev-server dependencies and Playwright browsers for E2E tests
  .github/workflows/ci-core.yml
Due: none

feat: Complete World Bank API integration with comprehensive testing and documentation (#40)
  .github/workflows/crawler-integration-test.yml
  backend/docs/BLS_API_EXPERIMENTAL_FINDINGS.md
  backend/docs/WORLD_BANK_API_EXPERIMENTAL_FINDINGS.md
  backend/docs/WORLD_BANK_INTEGRATION_POST_MORTEM.md
  backend/src/services/series_discovery/world_bank.rs
  backend/src/services/series_discovery/world_bank/tests.rs
Due: rust-fmt, rust-clippy

feat: Enhanced World Bank API integration with dynamic discovery
  backend/src/services/series_discovery/world_bank.rs
Due: rust-fmt, rust-clippy

feat: implement Census API query builder with comprehensive tests
  backend/src/services/series_discovery/census.rs
  backend/src/services/series_discovery/census/tests.rs
Due: rust-fmt, rust-clippy

perf: Reduce Playwright browsers to Chromium and Firefox in CI
  frontend/playwright.config.ts
Due: typescript-check

perf: Add parallel E2E dependencies job with proper caching
  .github/workflows/ci-core.yml
Due: none

fix: resolve compilation errors after rebase
  backend/migrations/2025-09-13-185806-0000_update_census_data_source_config/down.sql
  backend/migrations/2025-09-13-185806-0000_update_census_data_source_config/up.sql
  backend/src/e2e_tests.rs
  backend/src/epic_e2e_tests.rs
  backend/src/models/crawl_attempt.rs
  backend/src/models/crawl_queue/tests.rs
  backend/src/models/data_source.rs
  backend/src/models/data_source/tests.rs
  backend/src/models/series_metadata.rs
  backend/src/schema.rs
  backend/src/services/crawler/tests.rs
  backend/src/services/series_discovery/census.rs
  backend/src/services/series_discovery/census/tests.rs
  backend/src/services/series_discovery/world_bank.rs
  backend/src/test_utils.rs
Due: rust-fmt, rust-clippy

fix: add missing api_key_name to integration_tests.rs
  backend/src/integration_tests.rs
Due: rust-fmt, rust-clippy

Fix serve command PATH issue in E2E tests
  .github/workflows/ci-core.yml
Due: none

docs: add comprehensive database developer guide
  backend/docs/DEVELOPER_GUIDE_DATABASE.md
Due: none

feat: implement Census Bureau BDS integration with real API testing
  backend/Cargo.toml
  backend/migrations/2025-09-13-213800-0000_add_api_key_name_to_data_sources/down.sql
  backend/migrations/2025-09-13-213800-0000_add_api_key_name_to_data_sources/up.sql
  backend/src/services/series_discovery/census.rs
  backend/src/services/series_discovery/census/integration_tests.rs
  backend/src/services/series_discovery/census/mod.rs
  backend/src/services/series_discovery/mod.rs
Due: rust-fmt, rust-clippy, rust-audit

Skip debug tests in CI to improve E2E performance
  frontend/playwright.config.ts
Due: typescript-check

feat: complete Census Bureau crawler integration and documentation
  backend/Cargo.toml
  backend/docs/CENSUS_BDS_INTEGRATION.md
  backend/docs/CRAWLER_DEPLOYMENT_GUIDE.md
  backend/migrations/2025-09-13-213800-0000_add_api_key_name_to_data_sources/down.sql
  backend/migrations/2025-09-13-213800-0000_add_api_key_name_to_data_sources/up.sql
  backend/src/bin/catalog_crawler.rs
  backend/src/services/series_discovery/census/integration_tests.rs
  backend/src/services/series_discovery/census/mod.rs
  backend/test_census_api.rs
Due: rust-fmt, rust-clippy, rust-audit

docs: add comprehensive developer summary for Census Bureau integration
  backend/docs/CENSUS_BUREAU_INTEGRATION_SUMMARY.md
Due: none

feat: complete Census Bureau integration with improved pre-commit workflow
  .pre-commit-config.yaml
  backend/src/services/series_discovery/census/mod.rs
Due: rust-fmt, rust-clippy

fix: remove trailing whitespace
  backend/test_census_api.rs
Due: rust-fmt, rust-clippy

Add comprehensive MCP server analysis and debugging report
  MCP_SERVER_ANALYSIS.md
Due: none

Add comprehensive MCP server analysis and debugging report (#45)
  MCP_SERVER_ANALYSIS.md
Due: none

feat: Census Bureau BDS integration with crawler support and improved pre-commit workflow (#44)
  .pre-commit-config.yaml
  backend/docs/CENSUS_BDS_INTEGRATION.md
  backend/docs/CENSUS_BUREAU_INTEGRATION_SUMMARY.md
  backend/docs/CRAWLER_DEPLOYMENT_GUIDE.md
  backend/docs/DEVELOPER_GUIDE_DATABASE.md
  backend/migrations/2025-09-13-185806-0000_update_census_data_source_config/down.sql
  backend/migrations/2025-09-13-185806-0000_update_census_data_source_config/up.sql
  backend/migrations/2025-09-13-213800-0000_add_api_key_name_to_data_sources/down.sql
  backend/migrations/2025-09-13-213800-0000_add_api_key_name_to_data_sources/up.sql
  backend/src/bin/catalog_crawler.rs
  backend/src/e2e_tests.rs
  backend/src/epic_e2e_tests.rs
  backend/src/integration_tests.rs
  backend/src/models/crawl_attempt.rs
  backend/src/models/crawl_queue/tests.rs
  backend/src/models/data_source.rs
  backend/src/models/data_source/tests.rs
  backend/src/models/series_metadata.rs
  backend/src/schema.rs
  backend/src/services/crawler/tests.rs
  backend/src/services/series_discovery/census.rs
  backend/src/services/series_discovery/census/integration_tests.rs
  backend/src/services/series_discovery/census/mod.rs
  backend/src/services/series_discovery/census/tests.rs
  backend/src/services/series_discovery/mod.rs
  backend/src/services/series_discovery/world_bank.rs
  backend/src/test_utils.rs
  backend/test_census_api.rs
Due: rust-fmt, rust-clippy

fix: Handle Census API 204 No Content responses gracefully
  backend/src/services/series_discovery/census/integration_tests.rs
  backend/src/services/series_discovery/census/mod.rs
Due: rust-fmt, rust-clippy

fix: Handle Census API 204 No Content responses gracefully (#46)
  backend/src/services/series_discovery/census/integration_tests.rs
  backend/src/services/series_discovery/census/mod.rs
Due: rust-fmt, rust-clippy

chore: Add personas directory and update package-lock.json
  frontend/package-lock.json
  personas/releng-engineer.md
Due: npm-audit

fix: Install dev-server dependencies for e2e tests
  .github/workflows/ci-core.yml
Due: none

fix: Increase Backend Smoke Tests timeout from 5 to 15 minutes
  .github/workflows/ci-core.yml
Due: none

fix: separate desktop and mobile e2e tests for CI stability
  .github/workflows/ci-core.yml
  frontend/package.json
  frontend/playwright.mobile.config.ts
Due: typescript-check, npm-audit

fix: add missing Playwright browsers and diesel CLI to e2e tests
  .github/workflows/ci-core.yml
Due: none

fix: ensure mobile browsers are properly installed and stable
  .github/workflows/ci-core.yml
  frontend/playwright.mobile.config.ts
Due: typescript-check

fix: comprehensive PostgreSQL health check and timing fixes for e2e tests
  .github/workflows/ci-core.yml
  backend/src/e2e_database_test.rs
  backend/src/e2e_postgresql_health_check.rs
  backend/src/lib.rs
Due: rust-fmt, rust-clippy

fix: specify econ-graph-backend binary in cargo run commands
  .github/workflows/ci-core.yml
Due: none

fix: use pre-built binary directly instead of cargo run to avoid recompiling dependencies
  .github/workflows/ci-core.yml
Due: none

fix: increase e2e test timeout from 30 to 45 minutes
  .github/workflows/ci-core.yml
Due: none

feat: implement parallel E2E test execution in CI workflow
  .github/workflows/ci-core.yml
  ci/docs/charts/ci-job-dependencies.svg
  ci/docs/charts/complete-ci-pipeline.svg
  ci/docs/diagrams/ci-job-dependencies.mmd
  ci/docs/diagrams/complete-ci-pipeline.mmd
Due: none

Path conditions:
  rust-fmt: any of: ^backend/.*\.rs$
  rust-clippy: any of: ^backend/.*\.rs$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  rust-audit: any of: ^backend/Cargo\.(toml|lock)$
  npm-audit: any of: ^frontend/package.*\.json$
