Repository jmalicki/econ-graph: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, rust-audit, npm-audit

.pre-commit-config.yaml:

# EconGraph Pre-commit Configuration
# Ensures code quality and formatting consistency across all commits
# Run: pre-commit install (to set up hooks)
# Run: pre-commit run --all-files (to check all files)

repos:
  # Rust formatting and linting
  - repo: local
    hooks:
      - id: rust-fmt
        name: Rust Format Check
        entry: bash -c 'cd backend && cargo fmt --all -- --check'
        language: system
        files: '^backend/.*\.rs$'
        pass_filenames: false

      - id: rust-clippy
        name: Rust Clippy Lints
        entry: bash -c 'cd backend && cargo clippy --all-targets --all-features -- -D warnings -A unused_imports -A dead_code -A clippy::empty_line_after_doc_comments -A clippy::explicit_auto_deref -A clippy::unused_enumerate_index -A clippy::manual_range_contains -A clippy::unnecessary_map_or -A clippy::inherent_to_string -A clippy::too_many_arguments -A clippy::uninlined_format_args -A clippy::needless_borrow -A unused_variables -A clippy::if_same_then_else -A clippy::assertions_on_constants -A clippy::useless_vec -A clippy::overly_complex_bool_expr -A clippy::manual_clamp -A clippy::upper_case_acronyms -A unused_must_use -A unused_mut -A clippy::derivable_impls'
        language: system
        files: '^backend/.*\.rs$'
        pass_filenames: false

  # Frontend formatting and linting
  - repo: local
    hooks:
      - id: frontend-prettier
        name: Frontend Prettier Check
        entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{ts,tsx,js,jsx,json,css,md}"'
        language: system
        files: '^frontend/src/.*\.(ts|tsx|js|jsx|json|css|md)$'
        pass_filenames: false

      - id: frontend-eslint
        name: Frontend ESLint Check
        entry: bash -c 'cd frontend && npx eslint "src/**/*.{ts,tsx,js,jsx}" --max-warnings 20'
        language: system
        files: '^frontend/src/.*\.(ts|tsx|js|jsx)$'
        pass_filenames: false

      - id: typescript-check
        name: TypeScript Compilation Check
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: '^frontend/.*\.(ts|tsx)$'
        pass_filenames: false

  # General file quality checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(.*\.md|.*\.txt)$'
      - id: end-of-file-fixer
        exclude: '^(.*\.md|.*\.txt|.*\.mp4|.*\.aiff|.*\.wav)$'
      - id: check-yaml
      - id: check-json
        exclude: '^frontend/package.*\.json$'  # package.json can have comments
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=5000']  # 5MB limit
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Markdown and documentation
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: ['--disable', 'MD013', 'MD041', 'MD022', 'MD032', 'MD031', 'MD034', 'MD040', 'MD026', 'MD009', 'MD029', 'MD033', 'MD036', 'MD047', 'MD024', 'MD012', 'MD051', '--']  # Disable common formatting rules
        exclude: '^node_modules/'

  # Security checks
  - repo: local
    hooks:
      - id: rust-audit
        name: Rust Security Audit
        entry: bash -c 'cd backend && cargo audit'
        language: system
        files: '^backend/Cargo\.(toml|lock)$'
        pass_filenames: false

      - id: npm-audit
        name: NPM Security Audit
        entry: bash -c 'cd frontend && npm audit --audit-level moderate'
        language: system
        files: '^frontend/package.*\.json$'
        pass_filenames: false

# Global configuration
default_install_hook_types: [pre-commit, pre-push]
fail_fast: false  # Continue running hooks even if one fails

debug: Add debug-diesel-install job to troubleshoot diesel CLI installation
  .github/workflows/ci.yml
Due: none

Improve schema validation test with unified diff output (#29)
  backend/Cargo.toml
  backend/tests/schema_validation_test.rs
Due: rust-fmt, rust-clippy, rust-audit

chore: update dependencies
  frontend/package-lock.json
Due: npm-audit

cleanup: Remove debug-diesel-install job
  .github/workflows/ci.yml
Due: none

fix: Add --force flag to cargo install commands in backend-build-cache
  .github/workflows/ci.yml
Due: none

feat: Add crawler integration workflow and enhanced export functionality
  backend/src/bin/catalog_crawler.rs
  backend/src/models/crawl_attempt.rs
  backend/src/models/data_point.rs
  backend/src/models/economic_series.rs
Due: rust-fmt, rust-clippy

fix: Add backend/target to cache restore paths in all backend test jobs
  .github/workflows/ci.yml
Due: none

Add separate RAM disk build cache workflow
  .github/workflows/ramdisk-build-cache.yml
Due: none

experiment: Add RAM disk optimization to backend build cache
  .github/workflows/ci.yml
Due: none

cleanup: Remove diesel test workflow
  .github/workflows/ci.yml
Due: none

Fix RAM disk usage for cargo install operations
  .github/workflows/ramdisk-build-cache.yml
Due: none

Fix cargo command path issues in CI jobs
  .github/workflows/ci.yml
Due: none

🔐 Admin UI Implementation with Security & Monitoring (#12)
  VIBE_CODING.md
  admin-frontend/README.md
  admin-frontend/package.json
  admin-frontend/src/components/layout/AdminLayout.tsx
  admin-frontend/src/components/layout/__tests__/AdminLayout.test.tsx
  admin-frontend/src/contexts/AuthContext.tsx
  admin-frontend/src/contexts/SecurityContext.tsx
  admin-frontend/src/pages/MonitoringPage.tsx
  admin-frontend/src/pages/SystemHealthPage.tsx
  admin-frontend/src/pages/UserManagementPage.tsx
  admin-frontend/src/pages/__tests__/MonitoringPage.test.tsx
  admin-frontend/src/pages/__tests__/SystemHealthPage.test.tsx
  admin-frontend/src/pages/__tests__/UserManagementPage.test.tsx
  backend/migrations/.diesel_lock
  backend/migrations/00000000000000_diesel_initial_setup/down.sql
  backend/migrations/00000000000000_diesel_initial_setup/up.sql
  backend/migrations/2025-09-13-021105-0000_consolidated_admin_audit_security_tables/down.sql
  backend/migrations/2025-09-13-021105-0000_consolidated_admin_audit_security_tables/up.sql
  backend/src/graphql/context.rs
  backend/src/graphql/mod.rs
  backend/src/graphql/mutation.rs
  backend/src/graphql/query.rs
  backend/src/graphql/schema.rs
  backend/src/graphql/types.rs
  backend/src/main.rs
  backend/src/models/admin.rs
  backend/src/models/mod.rs
  backend/src/schema.rs
Due: rust-fmt, rust-clippy

feat: Add crawler integration workflow and comprehensive documentation (#30)
  backend/docs/CRAWLER_POLITENESS.md
  backend/docs/CRAWLER_TUNING_GUIDE.md
  backend/docs/RATE_LIMIT_SOURCES.md
  backend/src/bin/catalog_crawler.rs
  backend/src/models/crawl_attempt.rs
  backend/src/models/data_point.rs
  backend/src/models/economic_series.rs
Due: rust-fmt, rust-clippy

Implement environment-based API key management
  backend/src/bin/catalog_crawler.rs
  backend/src/config/api_keys.rs
  backend/src/config/app_config.rs
  backend/src/config/mod.rs
  backend/src/services/crawler/catalog_downloader.rs
  backend/src/services/crawler/comprehensive_crawler.rs
  backend/src/services/crawler/comprehensive_crawler_scheduler.rs
  backend/src/services/series_discovery/mod.rs
Due: rust-fmt, rust-clippy

feat: integrate admin UI with k8s infrastructure
  admin-frontend/Dockerfile
  admin-frontend/nginx.conf
  k8s/manifests/admin-frontend-deployment.yaml
  k8s/manifests/admin-frontend-service.yaml
  k8s/manifests/configmap.yaml
  k8s/manifests/ingress.yaml
  scripts/deploy/build-images.sh
  scripts/deploy/deploy.sh
  scripts/deploy/restart-k8s-rollout.sh
  scripts/deploy/teardown.sh
Due: none

Fix missing C compiler in backend test jobs
  .github/workflows/ci.yml
Due: none

Add CI optimization notes and implementation roadmap
  CI_OPTIMIZATION_NOTES.md
Due: none

feat: successfully build and deploy admin UI
  admin-frontend/Dockerfile
  admin-frontend/src/App.tsx
  admin-frontend/src/components/layout/AdminLayout.tsx
  admin-frontend/src/contexts/SecurityContext.tsx
  admin-frontend/src/index.css
  admin-frontend/src/index.tsx
  admin-frontend/src/pages/DashboardPage.tsx
  admin-frontend/src/pages/SystemHealthPage.tsx
  admin-frontend/src/pages/auth/LoginPage.tsx
  admin-frontend/tsconfig.json
  k8s/manifests/admin-frontend-service.yaml
  k8s/manifests/configmap.yaml
Due: none

Fix missing cc symlink in build tools installation
  .github/workflows/ci.yml
Due: none

Add extensive debugging to build tools installation
  .github/workflows/ci.yml
Due: none

feat: integrate admin UI with Kubernetes infrastructure
  k8s/manifests/admin-frontend-service.yaml
  k8s/manifests/ingress.yaml
  scripts/deploy/deploy.sh
  scripts/deploy/teardown.sh
Due: none

docs: update VIBE_CODING.md with admin UI integration achievement
  VIBE_CODING.md
Due: none

Add debugging to Rust compilation environment
  .github/workflows/ci.yml
Due: none

docs: complete admin UI documentation and script updates
  K8S_RESTART_COMMANDS.md
  k8s/README.md
  scripts/deploy/deploy.sh
  scripts/deploy/restart-k8s-rollout.sh
Due: none

Add debugging for cargo bin directory after cache restoration
  .github/workflows/ci.yml
Due: none

feat: integrate admin UI with Kubernetes infrastructure (#31)
  K8S_RESTART_COMMANDS.md
  VIBE_CODING.md
  admin-frontend/Dockerfile
  admin-frontend/nginx.conf
  admin-frontend/src/App.tsx
  admin-frontend/src/components/layout/AdminLayout.tsx
  admin-frontend/src/contexts/SecurityContext.tsx
  admin-frontend/src/index.css
  admin-frontend/src/index.tsx
  admin-frontend/src/pages/DashboardPage.tsx
  admin-frontend/src/pages/SystemHealthPage.tsx
  admin-frontend/src/pages/auth/LoginPage.tsx
  admin-frontend/tsconfig.json
  k8s/README.md
  k8s/manifests/admin-frontend-deployment.yaml
  k8s/manifests/admin-frontend-service.yaml
  k8s/manifests/configmap.yaml
  k8s/manifests/ingress.yaml
  scripts/deploy/build-images.sh
  scripts/deploy/deploy.sh
  scripts/deploy/restart-k8s-rollout.sh
  scripts/deploy/teardown.sh
Due: none

Fix Chart API service infrastructure issues
  chart-api-service/Dockerfile
  k8s/manifests/backend-deployment.yaml
Due: none

Remove unused imports and variables (conservative cleanup)
  backend/src/auth/handlers.rs
  backend/src/auth/mod.rs
  backend/src/auth/routes.rs
  backend/src/auth/services.rs
  backend/src/auth/simple_test.rs
  backend/src/bin/crawler.rs
  backend/src/database.rs
  backend/src/epic_e2e_tests.rs
  backend/src/graphql/query.rs
  backend/src/graphql/types.rs
  backend/src/main.rs
  backend/src/metrics.rs
  backend/src/models/admin.rs
  backend/src/models/data_point.rs
  backend/src/models/mod.rs
  backend/src/models/user.rs
  backend/src/services/collaboration_service.rs
  backend/src/services/crawler/cli.rs
  backend/src/services/crawler/comprehensive_crawler.rs
  backend/src/services/crawler/comprehensive_crawler_scheduler.rs
  backend/src/services/crawler/crawler_service.rs
  backend/src/services/crawler/enhanced_crawler_scheduler.rs
  backend/src/services/crawler/enhanced_crawler_service.rs
  backend/src/services/crawler/mod.rs
  backend/src/services/crawler/simple_crawler_service.rs
  backend/src/services/global_analysis_service.rs
  backend/src/services/mod.rs
  backend/src/services/queue_service.rs
  backend/src/services/search_service.rs
  backend/src/services/series_discovery/fred.rs
  backend/src/services/series_discovery/mod.rs
  backend/src/services/series_service.rs
Due: rust-fmt, rust-clippy

Fix PATH environment variable expansion in GitHub Actions
  .github/workflows/ci.yml
Due: none

Fix Chart API service infrastructure issues (#32)
  chart-api-service/Dockerfile
  k8s/manifests/backend-deployment.yaml
Due: none

Add minimal test case to reproduce cc not found issue
  .github/workflows/minimal-cc-test.yml
Due: none

Add quick PATH test workflow
  .github/workflows/quick-path-test.yml
Due: none

Add instant PATH test for 30-second iteration
  .github/workflows/instant-path-test.yml
Due: none

Add test for YAML environment variable PATH expansion
  .github/workflows/test-yaml-env.yml
Due: none

Add test for correct YAML environment variable syntax
  .github/workflows/test-correct-env.yml
Due: none

Add test for shell expansion in YAML env vs run commands
  .github/workflows/test-shell-expansion.yml
Due: none

Add progress report for Kubernetes infrastructure work
  progress-reports/2025-09-13/kubernetes.md
Due: none

Improve shell expansion test to demonstrate literal vs pre-processed behavior
  .github/workflows/test-shell-expansion.yml
Due: none

Add comprehensive test coverage for crawler functionality
  backend/migrations/2025-09-13-040258-0000_add_api_key_name_to_data_sources/down.sql
  backend/migrations/2025-09-13-040258-0000_add_api_key_name_to_data_sources/up.sql
  backend/src/__tests__/integration_workflow_tests.rs
  backend/src/bin/__tests__/catalog_crawler_tests.rs
  backend/src/config/__tests__/api_keys_tests.rs
  backend/src/e2e_tests.rs
  backend/src/epic_e2e_tests.rs
  backend/src/integration_tests.rs
  backend/src/models/crawl_attempt.rs
  backend/src/models/crawl_queue/tests.rs
  backend/src/models/data_source.rs
  backend/src/models/data_source/tests.rs
  backend/src/models/series_metadata.rs
  backend/src/schema.rs
  backend/src/services/__tests__/comprehensive_series_catalog_tests.rs
  backend/src/services/crawler/__tests__/catalog_downloader_tests.rs
  backend/src/services/crawler/__tests__/politeness_tests.rs
  backend/src/services/crawler/__tests__/series_downloader_tests.rs
  backend/src/services/crawler/tests.rs
  backend/src/services/series_discovery/__tests__/bls_discovery_tests.rs
  backend/src/services/series_discovery/bls.rs
  backend/src/test_utils.rs
Due: rust-fmt, rust-clippy
