Repository jmalicki/econ-graph: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, rust-audit, npm-audit

rust-fmt:
  name: Rust Format Check
  entry: bash -c 'cd backend && cargo fmt --all -- --check'
  language: system
  pass_filenames: false

rust-clippy:
  name: Rust Clippy Lints
  ...

frontend-prettier:
  name: Frontend Prettier Check
  entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{ts,tsx,js,jsx,json,css,md}"'
  language: system
  pass_filenames: false

frontend-eslint:
  name: Frontend ESLint Check
  entry: bash -c 'cd frontend && npx eslint "src/**/*.{ts,tsx,js,jsx}" --max-warnings 20'
  language: system
  pass_filenames: false

typescript-check:
  name: TypeScript Compilation Check
  entry: bash -c 'cd frontend && npx tsc --noEmit'
  language: system
  pass_filenames: false

rust-audit:
  name: Rust Security Audit
  entry: bash -c 'cd backend && cargo audit'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Security Audit
  entry: bash -c 'cd frontend && npm audit --audit-level moderate'
  language: system
  pass_filenames: false

Update VIBE_CODING.md with admin security implementation completion
  VIBE_CODING.md
Due: none

Add database migration and models for admin UI support
  backend/migrations/2025-09-12-053237_admin_audit_security_tables/down.sql
  backend/migrations/2025-09-12-053237_admin_audit_security_tables/up.sql
  backend/src/models/admin.rs
  backend/src/models/mod.rs
  backend/src/schema.rs
Due: rust-fmt, rust-clippy

Update VIBE_CODING.md with admin UI implementation completion
  VIBE_CODING.md
Due: none

Update VIBE_CODING.md with GraphQL admin endpoints completion
  VIBE_CODING.md
Due: none

Update VIBE_CODING.md with database schema completion
  VIBE_CODING.md
Due: none

feat: comprehensive crawler enhancements with multi-source discovery
  backend/migrations/2025-09-12-061542_comprehensive_crawler_enhancements/down.sql
  backend/migrations/2025-09-12-061542_comprehensive_crawler_enhancements/up.sql
  backend/src/epic_e2e_tests.rs
  backend/src/models/crawl_attempt.rs
  backend/src/models/data_point.rs
  backend/src/models/data_source.rs
  backend/src/models/economic_series.rs
  backend/src/models/mod.rs
  backend/src/schema.rs
  backend/src/services/comprehensive_crawler.rs
  backend/src/services/comprehensive_crawler_scheduler.rs
  backend/src/services/crawler_service.rs
  backend/src/services/crawler_service_simple.rs
  backend/src/services/enhanced_crawler_service.rs
  backend/src/services/mod.rs
  backend/src/services/series_discovery/bea.rs
  backend/src/services/series_discovery/bls.rs
  backend/src/services/series_discovery/census.rs
  backend/src/services/series_discovery/fred.rs
  backend/src/services/series_discovery/imf.rs
  backend/src/services/series_discovery/mod.rs
  backend/src/services/series_discovery/world_bank.rs
  frontend/src/__tests__/e2e-user-workflows.test.tsx
Due: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check

Fix remaining test compilation errors
  backend/src/e2e_tests.rs
  backend/src/epic_e2e_tests.rs
  backend/src/integration_tests.rs
  backend/src/models/crawl_queue/tests.rs
  backend/src/models/data_source.rs
  backend/src/models/data_source/tests.rs
  backend/src/models/economic_series/tests.rs
  backend/src/test_utils.rs
Due: rust-fmt, rust-clippy

✨ Add User Preferences with Dark Theme Support (#7)
  VIBE_CODING.md
  codebase-analysis-config-mine.env
  codebase-analysis-config-top5.env
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/auth/UserProfile.tsx
  frontend/src/components/auth/__tests__/UserProfile.test.tsx
  frontend/src/contexts/ThemeContext.tsx
  frontend/src/contexts/__tests__/ThemeContext.test.tsx
  frontend/src/index.tsx
  frontend/src/setupTests.ts
  frontend/src/test-utils/testIsolation.ts
  frontend/tests/e2e/user-preferences.spec.ts
Due: frontend-prettier, frontend-eslint, typescript-check, npm-audit

Format main.rs with rustfmt
  backend/src/graphql/context.rs
  backend/src/graphql/mod.rs
  backend/src/main.rs
  backend/src/models/admin.rs
  backend/src/models/mod.rs
Due: rust-fmt, rust-clippy

Fix Prometheus metrics test isolation issues
  backend/src/metrics.rs
Due: rust-fmt, rust-clippy

Fix critical Rust compilation errors from schema mismatches
  backend/migrations/2025-09-12-071915_fix_user_table_not_null_constraints/down.sql
  backend/migrations/2025-09-12-071915_fix_user_table_not_null_constraints/up.sql
  backend/src/collaboration_integration_tests.rs
  backend/src/graphql/types.rs
  backend/src/graphql_annotation_tests.rs
  backend/src/models/user.rs
  backend/src/schema.rs
Due: rust-fmt, rust-clippy

Fix critical Rust compilation errors from schema mismatches (#14)
  backend/migrations/2025-09-12-071915_fix_user_table_not_null_constraints/down.sql
  backend/migrations/2025-09-12-071915_fix_user_table_not_null_constraints/up.sql
  backend/src/collaboration_integration_tests.rs
  backend/src/graphql/types.rs
  backend/src/graphql_annotation_tests.rs
  backend/src/models/user.rs
  backend/src/schema.rs
Due: rust-fmt, rust-clippy

Implement comprehensive admin UI with Grafana integration
  admin-frontend/README.md
  admin-frontend/src/components/layout/AdminLayout.tsx
  admin-frontend/src/components/layout/__tests__/AdminLayout.test.tsx
  admin-frontend/src/pages/MonitoringPage.tsx
  admin-frontend/src/pages/SystemHealthPage.tsx
  admin-frontend/src/pages/UserManagementPage.tsx
  admin-frontend/src/pages/__tests__/MonitoringPage.test.tsx
  admin-frontend/src/pages/__tests__/SystemHealthPage.test.tsx
  admin-frontend/src/pages/__tests__/UserManagementPage.test.tsx
Due: none

Add GraphQL admin endpoints to support admin UI
  backend/src/graphql/mutation.rs
  backend/src/graphql/query.rs
  backend/src/graphql/types.rs
Due: rust-fmt, rust-clippy

Implement admin role checks for GraphQL endpoints
  backend/src/graphql/context.rs
  backend/src/graphql/mod.rs
  backend/src/graphql/mutation.rs
  backend/src/graphql/query.rs
  backend/src/graphql/schema.rs
  backend/src/main.rs
Due: rust-fmt, rust-clippy

Fix GraphQL context lifetime issues and remove missing metrics module
  backend/Cargo.toml
  backend/src/graphql/context.rs
  backend/src/main.rs
Due: rust-fmt, rust-clippy, rust-audit

Fix ESLint errors in admin-frontend
  admin-frontend/package.json
  admin-frontend/src/contexts/AuthContext.tsx
  admin-frontend/src/contexts/SecurityContext.tsx
  admin-frontend/src/pages/MonitoringPage.tsx
  admin-frontend/src/pages/UserManagementPage.tsx
Due: none

Add comprehensive Facebook auth privacy compliance (#10)
  PRIVACY_POLICY.md
  backend/Cargo.toml
  backend/src/auth/handlers.rs
  backend/src/auth/routes.rs
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/metrics.rs
  frontend/src/App.tsx
  frontend/src/components/layout/Header.tsx
  frontend/src/pages/PrivacyPolicy.tsx
  frontend/src/pages/UserDataDeletion.tsx
Due: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, rust-audit

Fix all remaining Diesel trait bound errors
  backend/migrations/2025-09-12-061542_comprehensive_crawler_enhancements/up.sql
  backend/src/epic_e2e_tests.rs
  backend/src/models/data_source.rs
  backend/src/models/data_source/tests.rs
  backend/src/schema.rs
  backend/src/test_utils.rs
Due: rust-fmt, rust-clippy

feat: Implement MCP Server with Chart API Service
  CHART_API_SERVICE.md
  MCP_SERVER.md
  PRIVATE_CHART_API.md
  VIBE_CODING.md
  backend/Cargo.toml
  backend/src/bin/mcp_test.rs
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/mcp_server.rs
  chart-api-service/Dockerfile
  chart-api-service/k8s/configmap.yaml
  chart-api-service/k8s/deployment.yaml
  chart-api-service/k8s/service.yaml
  chart-api-service/package-lock.json
  chart-api-service/package.json
  chart-api-service/src/chartApi.js
  chart-api-service/src/security.js
  chart-api-service/src/server.js
  chart-api-service/tests/chartApi.test.js
  chart-api-service/tests/server.test.js
  frontend/package.json
  frontend/src/api/__tests__/chartApi.test.ts
  frontend/src/api/chartApi.ts
  frontend/src/api/privateChartEndpoint.ts
  frontend/src/routes/privateApiRoutes.tsx
  frontend/src/server/__tests__/privateChartServer.test.js
  frontend/src/server/privateChartServer.js
  k8s/manifests/chart-api-deployment.yaml
  k8s/manifests/chart-api-service.yaml
  k8s/manifests/configmap.yaml
  scripts/deploy/build-images.sh
  scripts/deploy/deploy.sh
  scripts/deploy/recreate-kind-cluster.sh
  scripts/deploy/restart-k8s-rollout.sh
  scripts/deploy/teardown.sh
Due: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, rust-audit, npm-audit

fix: Resolve merge conflicts and apply cargo fmt
  backend/src/lib.rs
  backend/src/main.rs
Due: rust-fmt, rust-clippy

Fix final missing api_documentation_url field in integration_tests.rs
  backend/src/e2e_tests.rs
  backend/src/epic_e2e_tests.rs
  backend/src/integration_tests.rs
  backend/src/models/crawl_queue/tests.rs
  backend/src/models/data_source.rs
  backend/src/models/data_source/tests.rs
Due: rust-fmt, rust-clippy

Add comprehensive tests for crawl_attempt.rs module
  backend/src/models/crawl_attempt.rs
Due: rust-fmt, rust-clippy

Fix frontend tests: resolve dependencies and test logic issues
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/chartApi.ts
  frontend/src/server/__tests__/privateChartServer.test.js
  frontend/src/server/privateChartServer.js
Due: frontend-prettier, frontend-eslint, typescript-check, npm-audit

Fix dependency version compatibility and pin Rust version
  backend/Cargo.toml
  rust-toolchain.toml
Due: rust-audit

Add comprehensive test files for uncovered modules
  backend/Cargo.toml
  backend/src/auth/handlers_tests.rs
  backend/src/auth/middleware_tests.rs
  backend/src/auth/mod.rs
  backend/src/lib.rs
  backend/src/services/mod.rs
  backend/src/services/search_service_tests.rs
Due: rust-fmt, rust-clippy, rust-audit

Pin CI Rust toolchain to match local version
  .github/workflows/ci.yml
Due: none

Pin CI PostgreSQL version to match local environment
  .github/workflows/ci.yml
Due: none

Upgrade CI to PostgreSQL 17
  .github/workflows/ci.yml
Due: none

Update CI to PostgreSQL 17.6 (latest patch version)
  .github/workflows/ci.yml
Due: none

feat: Implement MCP Server with Chart API Service (#15)
  CHART_API_SERVICE.md
  MCP_SERVER.md
  PRIVATE_CHART_API.md
  VIBE_CODING.md
  backend/Cargo.toml
  backend/src/bin/mcp_test.rs
  backend/src/lib.rs
  backend/src/main.rs
  backend/src/mcp_server.rs
  chart-api-service/Dockerfile
  chart-api-service/k8s/configmap.yaml
  chart-api-service/k8s/deployment.yaml
  chart-api-service/k8s/service.yaml
  chart-api-service/package-lock.json
  chart-api-service/package.json
  chart-api-service/src/chartApi.js
  chart-api-service/src/security.js
  chart-api-service/src/server.js
  chart-api-service/tests/chartApi.test.js
  chart-api-service/tests/server.test.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/api/__tests__/chartApi.test.ts
  frontend/src/api/chartApi.ts
  frontend/src/api/privateChartEndpoint.ts
  frontend/src/routes/privateApiRoutes.tsx
  frontend/src/server/__tests__/privateChartServer.test.js
  frontend/src/server/privateChartServer.js
  k8s/manifests/chart-api-deployment.yaml
  k8s/manifests/chart-api-service.yaml
  k8s/manifests/configmap.yaml
  scripts/deploy/build-images.sh
  scripts/deploy/deploy.sh
  scripts/deploy/recreate-kind-cluster.sh
  scripts/deploy/restart-k8s-rollout.sh
  scripts/deploy/teardown.sh
Due: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, rust-audit, npm-audit

Regenerate schema.rs from database migrations
  backend/Cargo.toml
  backend/src/models/economic_series.rs
  backend/src/schema.rs
Due: rust-fmt, rust-clippy, rust-audit

Fix schema-model field alignment issues
  backend/src/schema.rs
Due: rust-fmt, rust-clippy

Clean up references to deleted files
  backend/src/models/economic_series.rs
Due: rust-fmt, rust-clippy

Path conditions:
  rust-fmt: any of: ^backend/.*\.rs$
  rust-clippy: any of: ^backend/.*\.rs$
  frontend-prettier: any of: ^frontend/src/.*\.(ts|tsx|js|jsx|json|css|md)$
  frontend-eslint: any of: ^frontend/src/.*\.(ts|tsx|js|jsx)$
  typescript-check: any of: ^frontend/.*\.(ts|tsx)$
  rust-audit: any of: ^backend/Cargo\.(toml|lock)$
  npm-audit: any of: ^frontend/package.*\.json$
