Repository jmalicki/econ-graph: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-fmt, rust-clippy, frontend-prettier, frontend-eslint, typescript-check, rust-audit, npm-audit

.pre-commit-config.yaml:

# EconGraph Pre-commit Configuration
# Ensures code quality and formatting consistency across all commits
# Run: pre-commit install (to set up hooks)
# Run: pre-commit run --all-files (to check all files)

repos:
  # Rust formatting and linting
  - repo: local
    hooks:
      - id: rust-fmt
        name: Rust Format Check
        entry: bash -c 'cd backend && cargo fmt --all -- --check'
        language: system
        files: '^backend/.*\.rs$'
        pass_filenames: false

      - id: rust-clippy
        name: Rust Clippy Lints
        entry: bash -c 'cd backend && cargo clippy --all-targets --all-features -- -D warnings -A unused_imports -A dead_code -A clippy::empty_line_after_doc_comments -A clippy::explicit_auto_deref -A clippy::unused_enumerate_index -A clippy::manual_range_contains -A clippy::unnecessary_map_or -A clippy::inherent_to_string -A clippy::too_many_arguments -A clippy::uninlined_format_args -A clippy::needless_borrow -A unused_variables -A clippy::if_same_then_else -A clippy::assertions_on_constants -A clippy::useless_vec -A clippy::overly_complex_bool_expr -A clippy::manual_clamp -A clippy::upper_case_acronyms -A unused_must_use -A unused_mut -A clippy::derivable_impls'
        language: system
        files: '^backend/.*\.rs$'
        pass_filenames: false

  # Frontend formatting and linting
  - repo: local
    hooks:
      - id: frontend-prettier
        name: Frontend Prettier Check
        entry: bash -c 'cd frontend && npx prettier --check "src/**/*.{ts,tsx,js,jsx,json,css,md}"'
        language: system
        files: '^frontend/src/.*\.(ts|tsx|js|jsx|json|css|md)$'
        pass_filenames: false

      - id: frontend-eslint
        name: Frontend ESLint Check
        entry: bash -c 'cd frontend && npx eslint "src/**/*.{ts,tsx,js,jsx}" --max-warnings 20'
        language: system
        files: '^frontend/src/.*\.(ts|tsx|js|jsx)$'
        pass_filenames: false

      - id: typescript-check
        name: TypeScript Compilation Check
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        files: '^frontend/.*\.(ts|tsx)$'
        pass_filenames: false

  # General file quality checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        exclude: '^(.*\.md|.*\.txt)$'
      - id: end-of-file-fixer
        exclude: '^(.*\.md|.*\.txt|.*\.mp4|.*\.aiff|.*\.wav)$'
      - id: check-yaml
      - id: check-json
        exclude: '^frontend/package.*\.json$'  # package.json can have comments
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ['--maxkb=5000']  # 5MB limit
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Markdown and documentation
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: ['--disable', 'MD013', 'MD041', 'MD022', 'MD032', 'MD031', 'MD034', 'MD040', 'MD026', 'MD009', 'MD029', 'MD033', 'MD036', 'MD047', 'MD024', 'MD012', 'MD051', '--']  # Disable common formatting rules
        exclude: '^node_modules/'

  # Security checks
  - repo: local
    hooks:
      - id: rust-audit
        name: Rust Security Audit
        entry: bash -c 'cd backend && cargo audit'
        language: system
        files: '^backend/Cargo\.(toml|lock)$'
        pass_filenames: false

      - id: npm-audit
        name: NPM Security Audit
        entry: bash -c 'cd frontend && npm audit --audit-level moderate'
        language: system
        files: '^frontend/package.*\.json$'
        pass_filenames: false

# Global configuration
default_install_hook_types: [pre-commit, pre-push]
fail_fast: false  # Continue running hooks even if one fails

Optimize backend test parallelization further
  .github/workflows/ci.yml
Due: none

Remove duplicate backend license compliance job
  .github/workflows/ci.yml
Due: none

fix: Resolve config test environment variable pollution
  backend/src/config.rs
Due: rust-fmt, rust-clippy

feat: Implement ultra-fine-grained backend test parallelization
  .github/workflows/ci.yml
Due: none

Fix Arc-related compilation errors and implement proper bb8::Pool cloning
  backend/src/graphql/mutation.rs
  backend/src/graphql/query.rs
  backend/src/graphql/schema.rs
  backend/src/main.rs
  backend/src/models/crawl_attempt.rs
  backend/src/schema.rs
  backend/src/services/enhanced_crawler_service.rs
Due: rust-fmt, rust-clippy

feat: Add workflow dispatch for manual CI triggering
  .github/workflows/ci.yml
Due: none

feat: Optimize Rust build caching for faster CI builds
  .github/workflows/ci.yml
Due: none

feat: Implement read-only cache sharing from smoke tests to parallel jobs
  .github/workflows/ci.yml
Due: none

feat: Remove unnecessary gates for faster CI execution
  .github/workflows/ci.yml
Due: none

feat: Remove Docker image caching to save GitHub Actions cache space
  .github/workflows/ci.yml
Due: none

Optimize CI test execution with comprehensive parallelization (#25)
  .github/workflows/ci.yml
  backend/src/config.rs
Due: rust-fmt, rust-clippy

Fix schema to match main branch structure
  backend/src/models/crawl_attempt.rs
  backend/src/schema.rs
  backend/src/services/crawler/enhanced_crawler_service.rs
Due: rust-fmt, rust-clippy

feat: Remove unnecessary caching from utility jobs
  .github/workflows/ci.yml
Due: none

fix: Restore proper tool installation and caching for security/license jobs
  .github/workflows/ci.yml
Due: none

feat: Remove wasteful caching from security/license jobs
  .github/workflows/ci.yml
Due: none

feat: Add conditional execution for feature branches
  .github/workflows/ci.yml
Due: none

fix: Use full paths for cargo-audit and cargo-deny commands
  .github/workflows/ci.yml
Due: none

feat: Split backend smoke tests into separate build-cache and test jobs
  .github/workflows/ci.yml
Due: none

feat: Add catalog crawler binary and orchestration script
  backend/Cargo.toml
  backend/scripts/README.md
  backend/scripts/populate_catalogs.sh
  backend/src/bin/catalog_crawler.rs
  backend/src/models/data_source.rs
  backend/src/models/series_metadata.rs
  backend/src/services/crawler/series_downloader.rs
  backend/src/services/crawler/tests.rs
Due: rust-fmt, rust-clippy, rust-audit

fix: Make smoke tests gate the complex tests, not build-cache
  .github/workflows/ci.yml
Due: none

fix: Remove circular dependency in backend-integration-tests
  .github/workflows/ci.yml
Due: none

fix: Simplify cache key to prevent malformed keys
  .github/workflows/ci.yml
Due: none

fix: Use simple static cache key to avoid hashFiles issues
  .github/workflows/ci.yml
Due: none

Fix schema nullability mismatches for security_events.resolved field
  backend/src/models/admin.rs
  backend/src/schema.rs
Due: rust-fmt, rust-clippy

Improve schema validation test with detailed diff output
  backend/tests/schema_validation_test.rs
Due: rust-fmt, rust-clippy

Fix alphabetical ordering of table definitions in schema.rs
  backend/src/schema.rs
Due: rust-fmt, rust-clippy

fix: Add PATH environment variable for diesel CLI access
  .github/workflows/ci.yml
Due: none

feat: Add manual diesel cache test job
  .github/workflows/ci.yml
Due: none

fix: Add workflow_dispatch trigger to enable manual CI runs
  .github/workflows/ci.yml
Due: none

fix: Use full paths for cargo and diesel commands in test job
  .github/workflows/ci.yml
Due: none

feat: Add catalog crawler binary and orchestration script (#27)
  backend/Cargo.toml
  backend/scripts/README.md
  backend/scripts/populate_catalogs.sh
  backend/src/bin/catalog_crawler.rs
  backend/src/models/data_source.rs
  backend/src/models/series_metadata.rs
  backend/src/services/crawler/series_downloader.rs
  backend/src/services/crawler/tests.rs
Due: rust-fmt, rust-clippy, rust-audit

docs: Add crawler tuning guide for fine-tuning politeness settings
  backend/docs/CRAWLER_TUNING_GUIDE.md
Due: none

docs: Add honest assessment of rate limit sources and verification status
  backend/docs/RATE_LIMIT_SOURCES.md
Due: none

docs: Add comprehensive crawler politeness guide
  backend/docs/CRAWLER_POLITENESS.md
Due: none

cleanup: Remove diesel test workflow
  .github/workflows/ci.yml
Due: none

Improve schema validation test with unified diff output
  backend/Cargo.toml
  backend/tests/schema_validation_test.rs
Due: rust-fmt, rust-clippy, rust-audit

fix: Apply cargo/diesel PATH fixes to CI improvement branch
  .github/workflows/ci.yml
Due: none

Consolidate admin audit and security tables into single migration
  backend/Cargo.toml
  backend/migrations/.diesel_lock
  backend/migrations/00000000000000_diesel_initial_setup/down.sql
  backend/migrations/00000000000000_diesel_initial_setup/up.sql
  backend/migrations/2025-09-12-053237_admin_audit_security_tables/down.sql
  backend/migrations/2025-09-12-053237_admin_audit_security_tables/up.sql
  backend/migrations/2025-09-13-021105-0000_consolidated_admin_audit_security_tables/down.sql
  backend/migrations/2025-09-13-021105-0000_consolidated_admin_audit_security_tables/up.sql
  backend/src/schema.rs
  backend/tests/schema_validation_test.rs
Due: rust-fmt, rust-clippy, rust-audit

debug: Add verbose logging to backend-build-cache job
  .github/workflows/ci.yml
Due: none
